@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.btn {
  background: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &-scroll {
    cursor: pointer;

    &:hover g > * {
      stroke: $color-accent;
    }
  }

  &-close {
    cursor: pointer;

    &__wrap {
      padding: 7px;
      align-self: flex-end;
      &:hover {
        background: $color-separator;
        border-radius: 8px;
      }
    }
  }
}

.burger {
  @include tablet-sd {
    display: none;
  }

  &:active {
    background: $color-separator;
    border-radius: 8px;

    * {
      stroke: #323264;
    }
  }
}
